# Saketh

## Research question/interests

Question/Interest: How does the analysis of the dataset allow us to properly understand and invest in stocks without incurring much loss. 

Why it is important: Once we know how and where to invest properly through analysis, this can help in saving money and protect money especially during inflation and taxes, for example, seeing a stock performing well cosistently that can 
incline the investors to invest there. Now another way by doing this to almost never incur a loss is if we split our
investments into multiple well doing stocks and sectors so you would not be relying on just one with the whole investment.
Lastly we also can be aware of where to invest by analsying a company's financial situation by seeing its income flow, and
further more which can help us understand their revenue and profitability.

## What we are going to do to find the best company to invest in is technically sorting the company based on a specific factor

##### To do that we are going to calculate the profit per company and compare that with the other companies, which ever has one of the best profits can easily be declared as the one to go for investing.

In [101]:
import pandas as pd
df = pd.read_csv('../data/processed/Merged.csv')

list = [["Apple"]*2518, ["AMD"]*2518, ["Amazon"]*2518, ["Activision"]*2518, ["Ali Baba"]*2030, ["Bank of America"]*2518, ["Salesforce"]*2518, ["Cisco"]*2518, ["Disney"]*2518, ["EA"]*2518, ["Ford"]*2518, ["Google"]*2518, ["Intel"]*2518, ["JP Morgan"]*2518, ["CocoCola"]*2518, ["McDonalds"]*2518, ["Meta"]*2518, ["Microsoft"]*2518, ["Match"]*2518, ["Netflix"]*2518, ["Nvidia"]*2518, ["Pfizer"]*2518, ["Paypal"]*1887, ["AT & T"]*2518,["Tesla"]*2518, ["Trade Desk"]*1580, ["Walmart"]*2518, ["Exxon"]*2518, ["Yelp"]*2518, ["Zillow Group"]*2518]  # List for company column
companies = []

for i in list:
    for r in i:
        companies.append(r)

df['Company'] = companies     #this makes a new column for the companies so that it would be easier to clean
df['Profit'] = df['Close'] * df['Volume'] #this calculates profit per company
df = df[['Company', 'Date', 'Close','Volume', 'Profit']]
gg = df.groupby('Company') #this groups each company individually
gg = gg.mean()
gg.head()


#UPON cleaning it can be easily said that there are 73482 rows and now 9 comlumns after adding the company and profit columns

C:\Users\saket\AppData\Local\Temp\ipykernel_1508\511711910.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gg = gg.mean()

                 Close        Volume        Profit
Company
AMD          33.189337  5.131807e+07  2.249106e+09
AT & T       25.124129  4.160198e+07  1.013769e+09
Activision   51.117224  7.665162e+06  3.815859e+08
Ali Baba    148.962591  1.868294e+07  2.767608e+09
Amazon       73.780049  8.025617e+07  6.019430e+09

In [102]:
hprofit = df.sort_values(by=['Profit'],ascending = False) # This sorts the list of companies based on their profits
hprofit.head(5)   # this step helps us see the top 5 companies with the highest profit

      Company        Date       Close     Volume        Profit
61319   Tesla  12/18/2020  231.666672  666378600  1.543777e+11
61537   Tesla   11/1/2021  402.863342  168146100  6.773990e+10
61332   Tesla    1/8/2021  293.339996  225166500  6.605034e+10
61532   Tesla  10/25/2021  341.619995  188556300  6.441460e+10
61533   Tesla  10/26/2021  339.476654  187245000  6.356531e+10

## As we can see that Tesla is the company with the highest profit of all so personally I would invest there

In [104]:
import matplotlib.pyplot as plt #this is to visualise the profits in the form of a graph
import seaborn as sns
sns.barplot(x= 'Company', y = 'Profit', hue = 'Company', data=gg)

ValueError: Could not interpret input 'Company'