# Shakthi
## Research question/interests

### **<ins>Question:</ins>** **What are the top 3 companies from the dataset?**

This question can be answered through deriving a formula which uses several factors in the dataset about the stock prices of each company over the years to determine the top 3 companies. We will be using the following columns from the dataset to derive the formula: Open, High, Low, Adj Close, Volume.

This question is important as it will make it clearer for us if the changes in stock prices in companies was because of a major event that affected the economic status of multiple companies, or was just a random fluctuation for that one company. The stock prices of different companies may fluctuate differently based on a wide range of factors, such as their individual financial performance, market trends, industry trends, and global economic conditions. 



A global recession will affect almost every single share in the stock market and will be valuable for future analysis. We can make out if a recession has happened by analyzing the dataset to see if at any point there was a common decline in prices for multiple companies. 



Distinction is important in understanding the stock market because we get to know how individual companies are affected by the same event, and how the market prices change with respect to that event. Hence, pattern analysis in the dataset is important to recognize potential causes of price jumps and drops.

## Exploratory Data Analysis
We will be using the pandas library to read the csv file and perform exploratory data analysis on the dataset. We will be using the matplotlib along with seaborn to plot the graph. The following code will be used to read the csv file and perform exploratory data analysis on the dataset.

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns

# Read in the data
df = pd.read_csv('../data/processed/Merged.csv')
ls = [["Apple"]*2518, ["AMD"]*2518, ["Amazon"]*2518, ["Activision"]*2518, ["Ali Baba"]*2030, ["Bank of America"]*2518, ["Salesforce"]*2518, ["Cisco"]*2518, ["Disney"]*2518, ["EA"]*2518, ["Ford"]*2518, ["Google"]*2518, ["Intel"]*2518, ["JP Morgan"]*2518, ["CocoCola"]*2518, ["McDonalds"]*2518, ["Meta"]*2518, ["Microsoft"]*2518, ["Match"]*2518, ["Netflix"]*2518, ["Nvidia"]*2518, ["Pfizer"]*2518, ["Paypal"]*1887, ["AT & T"]*2518,["Tesla"]*2518, ["Trade Desk"]*1580, ["Walmart"]*2518, ["Exxon"]*2518, ["Yelp"]*2518, ["Zillow Group"]*2518]  # List for company column
comp = []

for i in ls:
    for j in i:
        comp.append(j)

df['Company'] = comp                  # Make a new column for company
df['Price Change'] = (df['Open']-df['Close']) / df['Open']*100   # Price change for each company
df['Market Value'] = df['Price Change'] * df['Volume']          # Market volume for each company

gr = df.groupby('Company')            # Describe individual company data
cleaned = gr.mean()                 # Average price for each company
print(cleaned)

                       Open        High         Low       Close   Adj Close  \
Company
AMD               33.204932   33.889353   32.475774   33.189337   33.189337
AT & T            25.128304   25.312110   24.932514   25.124129   16.850342
Activision        51.137188   51.710064   50.492665   51.117224   50.024718
Ali Baba         149.101281  150.929013  146.971012  148.962591  148.962591
Amazon            73.823536   74.661898   72.881356   73.780049   73.780049
Apple             62.383387   63.087693   61.696664   62.416599   60.637030
Bank of America   24.969563   25.233654   24.696755   24.963757   22.988385
Cisco             37.621763   37.965167   37.284484   37.634452   33.007038
CocoCola          47.152371   47.473157   46.828098   47.156438   40.857747
Disney           111.552605  112.525592  110.445580  111.496291  108.278421
EA                89.991144   91.085445   88.850143   89.991739   89.084635
Exxon             78.620437   79.295941   77.936573   78.631362   61.551233
Ford              12.652351   12.792482   12.494241   12.643292   10.407107
Google            59.301045   59.905209   58.708454   59.315665   59.315665
Intel             40.637335   41.081116   40.202021   40.650187   35.902882
JP Morgan         94.617161   95.503006   93.726446   94.615405   84.053590
Match             52.199437   53.205589   51.160621   52.180394   51.426335
McDonalds        161.606064  162.797855  160.431267  161.631740  146.695661
Meta             155.543153  157.505195  153.590921  155.583022  155.583022
Microsoft        121.784662  122.999952  120.511513  121.818209  117.315097
Netflix          239.043344  242.743032  235.155357  239.053170  239.053170
Nvidia            64.638605   65.847257   63.342222   64.634884   64.370814
Paypal           108.494423  109.950433  106.814006  108.418151  108.418151
Pfizer            35.359682   35.682063   35.036787   35.363182   29.956525
Salesforce       125.139054  126.683696  123.447237  125.108446  125.108446
Tesla             73.168104   74.804530   71.355799   73.102271   73.102271
Trade Desk        34.334395   35.246731   33.405808   34.339534   34.339534
Walmart           98.364027   99.169142   97.632272   98.397355   90.696939
Yelp              39.015425   39.771040   38.259968   39.008483   39.008483
Zillow Group      46.460415   47.456700   45.434888   46.440313   46.440313

                       Volume  Price Change  Market Value
Company
AMD              5.131807e+07     -0.030563 -6.309399e+06
AT & T           4.160198e+07      0.014458  2.414906e+06
Activision       7.665162e+06     -0.001127  6.056776e+05
Ali Baba         1.868294e+07      0.068404  5.712329e+05
Amazon           8.025617e+07      0.019585  6.078179e+06
Apple            1.713540e+08     -0.048103  2.124056e+06
Bank of America  7.619322e+07      0.008778  2.331667e+06
Cisco            2.549483e+07     -0.047652 -1.643612e+06
CocoCola         1.431151e+07     -0.012517  3.313063e+05
Disney           9.422362e+06      0.028975  4.953490e+05
EA               3.508126e+06     -0.052713 -2.668100e+05
Exxon            1.652319e+07     -0.009892  1.848767e+05
Ford             4.828013e+07      0.071447  5.417633e+06
Google           3.960689e+07     -0.027518  2.680405e+05
Intel            2.984661e+07     -0.047502 -7.989391e+05
JP Morgan        1.565919e+07     -0.013734  2.375318e+05
Match            2.789955e+06     -0.032632 -2.447691e+05
McDonalds        4.278301e+06     -0.028785 -1.607199e+05
Meta             2.975917e+07     -0.035412 -1.040529e+06
Microsoft        3.224945e+07     -0.054939 -7.623223e+05
Netflix          1.259488e+07     -0.056393 -2.194604e+06
Nvidia           4.463162e+07     -0.077739 -3.952114e+06
Paypal           9.701338e+06      0.021348  1.308607e+06
Pfizer           2.889859e+07     -0.010465  1.130739e+06
Salesforce       5.848055e+06     -0.014845  1.088176e+05
Tesla            1.120960e+08     -0.037479 -1.195532e+07
Trade Desk       1.063140e+07     -0.090086 -4.162677e+06
Walmart          8.164516e+06     -0.043158 -3.235046e+04
Yelp             2.119436e+06     -0.053879 -4.196103e+05
Zillow Group     1.746387e+06     -0.080413 -5.697771e+05

### What we see from the above
The code above has added a company column to make things easier. Additional data such as price change (percent difference for closing and opening), a column called "Market Value" which is the product of the price change and Market Volume. Below we print out the top 3 companies with the highest market value.

In [55]:
cleaned.sort_values(by=['Market Value'], inplace=True, ascending=False) # Sort by price change
cleaned.head(3)   # Top 30 companies by Market Value

,Open,High,Low,Close,Adj Close,Volume,Price Change,Market Value
Company,,,,,,,,
Amazon,73.823536,74.661898,72.881356,73.780049,73.780049,8.025617e+07,0.019585,6.078179e+06
Ford,12.652351,12.792482,12.494241,12.643292,10.407107,4.828013e+07,0.071447,5.417633e+06
AT & T,25.128304,25.312110,24.932514,25.124129,16.850342,4.160198e+07,0.014458,2.414906e+06