# Shakthi
## Research question/interests

### **<ins>Question:</ins>** **What are the top 3 companies from the dataset?**

This question can be answered through deriving a formula which uses several factors in the dataset about the stock prices of each company over the years to determine the top 3 companies. We will be using the following columns from the dataset to derive the formula: Open, High, Low, Adj Close, Volume.

This question is important as it will make it clearer for us if the changes in stock prices in companies was because of a major event that affected the economic status of multiple companies, or was just a random fluctuation for that one company. The stock prices of different companies may fluctuate differently based on a wide range of factors, such as their individual financial performance, market trends, industry trends, and global economic conditions. 



A global recession will affect almost every single share in the stock market and will be valuable for future analysis. We can make out if a recession has happened by analyzing the dataset to see if at any point there was a common decline in prices for multiple companies. 



Distinction is important in understanding the stock market because we get to know how individual companies are affected by the same event, and how the market prices change with respect to that event. Hence, pattern analysis in the dataset is important to recognize potential causes of price jumps and drops.

## Exploratory Data Analysis
We will be using the pandas library to read the csv file and perform exploratory data analysis on the dataset. We will be using the matplotlib along with seaborn to plot the graph. The following code will be used to read the csv file and perform exploratory data analysis on the dataset.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns

# Read in the data
df = pd.read_csv('../data/processed/Merged.csv')



ls = [["Apple"]*2518, ["AMD"]*2518, ["Amazon"]*2518, ["Activision"]*2518, ["Ali Baba"]*2030, ["Bank of America"]*2518, ["Salesforce"]*2518, ["Cisco"]*2518, ["Disney"]*2518, ["EA"]*2518, ["Ford"]*2518, ["Google"]*2518, ["Intel"]*2518, ["JP Morgan"]*2518, ["CocoCola"]*2518, ["McDonalds"]*2518, ["Meta"]*2518, ["Microsoft"]*2518, ["Match"]*2518, ["Netflix"]*2518, ["Nvidia"]*2518, ["Pfizer"]*2518, ["Paypal"]*1887, ["AT & T"]*2518,["Tesla"]*2518, ["Trade Desk"]*1580, ["Walmart"]*2518, ["Exxon"]*2518, ["Yelp"]*2518, ["Zillow Group"]*2518]  # List for company column
comp = []

for i in ls:
    for j in i:
        comp.append(j)

df['Company'] = comp    # Make a new column for company
gr = df.groupby('Company')    # Describe individual company data
gr['Open'].describe()

,count,mean,std,min,25%,50%,75%,max
Company,,,,,,,,
AMD,2518.0,33.204932,38.199165,1.620000,3.800000,13.125000,56.464999,163.279999
AT & T,2518.0,25.128304,3.627656,14.490000,22.643505,25.589125,27.635952,32.854984
Activision,2518.0,51.137188,24.708447,10.850000,25.577500,49.719999,74.000000,103.820000
Ali Baba,2030.0,149.101281,59.965704,57.299999,91.582499,152.675003,188.672493,313.500000
Amazon,2518.0,73.823536,53.345656,12.447000,21.978876,59.936500,107.947500,187.199997
Apple,2518.0,62.383387,48.683035,13.856071,26.971249,41.353750,91.272499,182.630005
Bank of America,2518.0,24.969563,9.428223,11.120000,16.139999,24.464999,31.040001,49.910000
Cisco,2518.0,37.621763,11.447466,20.120001,27.370001,37.590000,46.907500,64.040001
CocoCola,2518.0,47.152371,7.050195,36.840000,41.750000,45.285000,52.442499,67.000000
Disney,2518.0,111.552605,30.658774,50.400002,94.892500,107.139999,125.607498,200.190002
EA,2518.0,89.991144,39.411960,13.700000,62.599998,95.065002,125.174997,149.059998
Exxon,2518.0,78.620437,16.514053,31.410000,71.779997,82.089996,89.065001,113.879997
Ford,2518.0,12.652351,3.274832,4.270000,10.495000,12.610000,15.117500,24.870001
Google,2518.0,59.301045,35.170943,17.550716,30.083364,51.381501,73.570502,151.863495
Intel,2518.0,40.637335,11.813497,20.320000,31.432500,37.010000,50.507499,68.199997
JP Morgan,2518.0,94.617161,33.765096,44.450001,61.272500,95.224998,115.635000,172.710007
Match,2518.0,52.199437,44.679414,9.000000,17.889999,31.684999,74.535000,172.429993
McDonalds,2518.0,161.606064,56.702290,88.070000,101.004999,159.129998,211.697498,281.489990
Meta,2518.0,155.543153,83.883226,22.990000,86.740002,151.669998,194.699997,381.679993
Microsoft,2518.0,121.784662,89.865291,26.490000,46.942499,86.250000,200.327499,344.619995
Netflix,2518.0,239.043344,174.348101,13.138571,89.221430,191.585000,361.939995,692.349976
Nvidia,2518.0,64.638605,73.678756,2.990000,5.556250,40.221250,96.170000,335.170013
Paypal,1887.0,108.494423,72.285437,30.820000,49.630001,86.769997,119.509998,309.660004
Pfizer,2518.0,35.359682,7.023714,24.222012,30.417458,33.557877,39.117645,60.599998
Salesforce,2518.0,125.139054,67.406254,37.000000,69.705002,106.760002,163.727497,310.000000
Tesla,2518.0,73.168104,102.115086,2.205333,14.523500,18.900333,79.123998,411.470001
Trade Desk,1580.0,34.334395,28.774913,2.215000,6.423500,24.284500,60.264750,111.089996
Walmart,2518.0,98.364027,28.340168,56.389999,74.802502,86.970001,123.952501,160.250000
Yelp,2518.0,39.015425,14.722653,14.490000,30.042500,35.774999,43.712501,99.800003
Zillow Group,2518.0,46.460415,29.911074,8.815092,29.957501,36.928652,47.970001,208.119995

### What we see from the above EDA
We can see that there