# Vanshika


***Which sectors or industries performed the best in 2015 to 2019, and which ones underperformed?***

*Interest*
    
I am interested in identifying the sectors or industries that are relatively stable and able to maintain or increase the value of investments, as well as those that are more volatile and therefore harder to predict. This is a crucial exercise for investors, as it can offer valuable insights that can aid in making more informed investment decisions. 

    While we acknowledge that we do not have the most recent data to make a direct comparison,i am captivated by the prospect of assessing whether the sectors previously identified (or those that we select after undertaking the analysis) have been able to uphold their trends beyond the COVID-19 pandemic(mostly investigate whether certain sectors may exhibit less risk than others?)

I have also noticed a **growing public interest in index funds and a shift towards sustainable investing** and i wonder whether these trends have been influenced by the performance of different sectors and if these companies are related to any sustainability practices.

*Why is it important?*

For instance, if an investor is interested in investing in the technology sector, it would be prudent to analyze the trends in that sector over a few years to gauge its performance and future prospects. Likewise, if an investor is assessing a specific company, having knowledge of its industry or sector's performance can provide essential context for evaluating the company's potential. By evaluating the performance of various industries and sectors over time, investors can pinpoint investment opportunities or risks and make informed decisions about where to allocate their capital.

In [3]:
import pandas as pd
import os

# Analysis steps and Research behind those steps 

I will be concaticating the the data from a few companies that i am interested to analyise and then add their company names with the inclusion of their industries. After Research of the industries of these companies

## After Research of the industries of these companies 
 ### Companies that work in technology:
Apple,
AMD,
Amazon,
Activision,
Ali Baba,
Salesforce,
Cisco,
EA,
Google,
Intel,
Meta,
Microsoft,
Match,
Netflix,
Nvidia,
Paypal,
Tesla,
Trade Desk,
Yelp,
Zillow Group

 ### Other Sectors- 
-Bank of America: Banking and Financial Services
-Coca-Cola: Beverage
-Disney: Entertainment and Media
-Ford: Automotive
-JP Morgan: Banking and Financial Services
-McDonald's: Fast Food
-Pfizer: Pharmaceuticals and Biotechnology
-AT&T: Telecommunications
-Walmart: Retail
-Exxon: Oil and Gas

## ROI

I also figured how the return value of the bought stocks, does say alot of about the company satisfaction. When trying to determine which sectors or industries performed the best in 2015 to 2019, analyzing the ROI of the stocks in those sectors or industries can provide valuable insights. Sectors or industries with consistently high ROI over this time period are likely to have performed well, while those with consistently low ROI may have underperformed.  

Return = (Ending value - Beginning value + Dividends) / Beginning value

Where:
- Ending value is the total value of the investment at the end of the period you're interested in, including any dividends received during that period.
- Beginning value is the total value of the investment at the beginning of the period you're interested in.
- Dividends are any cash payments made to shareholders during the period you're interested in.
#### Using my data frame, i am planning on calculating the ROI of the companies for a certain time frame and with an assumned investment amount. Afterwards, i can split the companies on the basis of their industries and see how we can make some conclusions about the industries. 

However, We see that our data frame conatins way more companies that are involved in tech field, and the other fields are less.
So I would have to pivot my question that was thought during Milestone2.

In [7]:
#MILESTONE 3 
#I am first going to load all the data from the raw data and try to concat it all. After doing that we figure that there are 73483 rows Ã— 7 columns. 

# Set the path to the directory containing the CSV files
path = '../data/raw'

# Get a list of all CSV files in the directory
files = [f for f in os.listdir(path) if f.endswith('.csv')]

#Concatenate all CSV files into a single DataFrame
concat_set= pd.concat([pd.read_csv(os.path.join(path, f)) for f in files])

concat_set.head()
len(concat_set)
concat_set

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-01-02,19.779285,19.821428,19.343929,19.608213,16.862818,560518000
1,2013-01-03,19.567142,19.631071,19.321428,19.360714,16.649981,352965200
2,2013-01-04,19.177500,19.236786,18.779642,18.821428,16.186199,594333600
3,2013-01-07,18.642857,18.903570,18.400000,18.710714,16.090986,484156400
4,2013-01-08,18.900356,18.996071,18.616072,18.761070,16.134293,458707200
...,...,...,...,...,...,...,...
2513,2022-12-23,32.240002,32.630001,31.990000,32.119999,32.119999,277200
2514,2022-12-27,31.870001,32.049999,30.980000,31.540001,31.540001,516300
2515,2022-12-28,31.379999,31.530001,30.230000,30.389999,30.389999,588700
2516,2022-12-29,30.799999,31.590000,30.330000,31.100000,31.100000,532700
2517,2022-12-30,30.480000,31.260000,30.260000,31.209999,31.209999,698500

In [19]:
# Notice that we have different data set for the Alibaba , Paypal and Trade Desk. We would need three different numbers for these
#See how this not including all these factors cause the indext error

# Read CSV file
df = pd.read_csv('../data/processed/Merged.csv')

# Define list of company names
companies = ["Apple", "AMD", "Amazon", "Activision", "Alibaba", "Bank of America", "Salesforce", "Cisco", "Disney", "EA", "Ford", "Google", "Intel", "JP Morgan", "CocoCola", "McDonalds", "Meta", "Microsoft", "Match", "Netflix", "Nvidia", "Pfizer", "Paypal", "AT & T", "Tesla", "Trade Desk", "Walmart", "Exxon", "Yelp", "Zillow Group"]

# Create list of repetitions for each company
repetitions = [2518 if company != "Alibaba" else 2030 for company in companies]

# Generate list of company names based on repetitions
comp = [company for company, reps in zip(companies, repetitions) for _ in range(reps)]

# Add company column to dataframe
df['Company'] = comp

ValueError: Length of values (75052) does not match length of index (73483)

In [20]:
import pandas as pd

# Load data from the merged data in processed file
df = pd.read_csv('../data/processed/Merged.csv')

# Define list for company column
list = [["Apple"]*2518, ["AMD"]*2518, ["Amazon"]*2518, ["Activision"]*2518, ["Alibaba"]*2030, 
      ["Bank of America"]*2518, ["Salesforce"]*2518, ["Cisco"]*2518, ["Disney"]*2518, ["EA"]*2518, 
      ["Ford"]*2518, ["Google"]*2518, ["Intel"]*2518, ["JP Morgan"]*2518, ["CocoCola"]*2518, 
      ["McDonalds"]*2518, ["Meta"]*2518, ["Microsoft"]*2518, ["Match"]*2518, ["Netflix"]*2518, 
      ["Nvidia"]*2518, ["Pfizer"]*2518, ["Paypal"]*1887, ["AT & T"]*2518, ["Tesla"]*2518, 
      ["Trade Desk"]*1580, ["Walmart"]*2518, ["Exxon"]*2518, ["Yelp"]*2518, ["Zillow Group"]*2518]

# Make a new column for company
companies = []
for i in list:
    for k in i:
        companies.append(k)
df['Company'] = companies    

# Define dictionary for industries
industries = {"Apple": "Technology", "AMD": "Technology", "Amazon": "Retail", "Activision": "Gaming", 
              "Alibaba": "Retail", "Bank of America": "Finance", "Salesforce": "Technology", "Cisco": "Technology", 
              "Disney": "Entertainment", "EA": "Gaming", "Ford": "Automotive", "Google": "Technology", 
              "Intel": "Technology", "JP Morgan": "Finance", "CocoCola": "Beverage", "McDonalds": "Fast Food", 
              "Meta": "Technology", "Microsoft": "Technology", "Match": "Online Dating", "Netflix": "Entertainment", 
              "Nvidia": "Technology", "Pfizer": "Pharmaceuticals", "Paypal": "Finance", "AT & T": "Telecommunications", 
              "Tesla": "Automotive", "Trade Desk": "Advertising", "Walmart": "Retail", "Exxon": "Oil and Gas", 
              "Yelp": "Technology", "Zillow Group": "Real Estate"}

# Add a new column for industry since i will be looking at these stocks within the indusrties as well
df['Industry'] = df['Company'].map(industries)

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Company,Industry
0,1/2/2013,19.779285,19.821428,19.343929,19.608213,16.862818,560518000,Apple,Technology
1,1/3/2013,19.567142,19.631071,19.321428,19.360714,16.649981,352965200,Apple,Technology
2,1/4/2013,19.177500,19.236786,18.779642,18.821428,16.186199,594333600,Apple,Technology
3,1/7/2013,18.642857,18.903570,18.400000,18.710714,16.090986,484156400,Apple,Technology
4,1/8/2013,18.900356,18.996071,18.616072,18.761070,16.134293,458707200,Apple,Technology

In [22]:
# Lets make it look more better, by putting the company and the industry in the front
df = df[['Company', 'Industry', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
df.head()
# NOW THIS IS A BETTER DATA FRAME, THAT HAVE ALL OUR NECESSATIES

,Company,Industry,Date,Open,High,Low,Close,Adj Close,Volume
0,Apple,Technology,1/2/2013,19.779285,19.821428,19.343929,19.608213,16.862818,560518000
1,Apple,Technology,1/3/2013,19.567142,19.631071,19.321428,19.360714,16.649981,352965200
2,Apple,Technology,1/4/2013,19.177500,19.236786,18.779642,18.821428,16.186199,594333600
3,Apple,Technology,1/7/2013,18.642857,18.903570,18.400000,18.710714,16.090986,484156400
4,Apple,Technology,1/8/2013,18.900356,18.996071,18.616072,18.761070,16.134293,458707200

In [25]:
# Summary of the open stat of all the companies 
each_company = df.groupby('Company')    # Group the data by "Company" column
each_company['Open'].describe().reset_index()                 # Describe each company's data

,Company,count,mean,std,min,25%,50%,75%,max
0,AMD,2518.0,33.204932,38.199165,1.620000,3.800000,13.125000,56.464999,163.279999
1,AT & T,2518.0,25.128304,3.627656,14.490000,22.643505,25.589125,27.635952,32.854984
2,Activision,2518.0,51.137188,24.708447,10.850000,25.577500,49.719999,74.000000,103.820000
3,Alibaba,2030.0,149.101281,59.965704,57.299999,91.582499,152.675003,188.672493,313.500000
4,Amazon,2518.0,73.823536,53.345656,12.447000,21.978876,59.936500,107.947500,187.199997
5,Apple,2518.0,62.383387,48.683035,13.856071,26.971249,41.353750,91.272499,182.630005
6,Bank of America,2518.0,24.969563,9.428223,11.120000,16.139999,24.464999,31.040001,49.910000
7,Cisco,2518.0,37.621763,11.447466,20.120001,27.370001,37.590000,46.907500,64.040001
8,CocoCola,2518.0,47.152371,7.050195,36.840000,41.750000,45.285000,52.442499,67.000000
9,Disney,2518.0,111.552605,30.658774,50.400002,94.892500,107.139999,125.607498,200.190002
10,EA,2518.0,89.991144,39.411960,13.700000,62.599998,95.065002,125.174997,149.059998
11,Exxon,2518.0,78.620437,16.514053,31.410000,71.779997,82.089996,89.065001,113.879997
12,Ford,2518.0,12.652351,3.274832,4.270000,10.495000,12.610000,15.117500,24.870001
13,Google,2518.0,59.301045,35.170943,17.550716,30.083364,51.381501,73.570502,151.863495
14,Intel,2518.0,40.637335,11.813497,20.320000,31.432500,37.010000,50.507499,68.199997
15,JP Morgan,2518.0,94.617161,33.765096,44.450001,61.272500,95.224998,115.635000,172.710007
16,Match,2518.0,52.199437,44.679414,9.000000,17.889999,31.684999,74.535000,172.429993
17,McDonalds,2518.0,161.606064,56.702290,88.070000,101.004999,159.129998,211.697498,281.489990
18,Meta,2518.0,155.543153,83.883226,22.990000,86.740002,151.669998,194.699997,381.679993
19,Microsoft,2518.0,121.784662,89.865291,26.490000,46.942499,86.250000,200.327499,344.619995
20,Netflix,2518.0,239.043344,174.348101,13.138571,89.221430,191.585000,361.939995,692.349976
21,Nvidia,2518.0,64.638605,73.678756,2.990000,5.556250,40.221250,96.170000,335.170013
22,Paypal,1887.0,108.494423,72.285437,30.820000,49.630001,86.769997,119.509998,309.660004
23,Pfizer,2518.0,35.359682,7.023714,24.222012,30.417458,33.557877,39.117645,60.599998
24,Salesforce,2518.0,125.139054,67.406254,37.000000,69.705002,106.760002,163.727497,310.000000
25,Tesla,2518.0,73.168104,102.115086,2.205333,14.523500,18.900333,79.123998,411.470001
26,Trade Desk,1580.0,34.334395,28.774913,2.215000,6.423500,24.284500,60.264750,111.089996
27,Walmart,2518.0,98.364027,28.340168,56.389999,74.802502,86.970001,123.952501,160.250000
28,Yelp,2518.0,39.015425,14.722653,14.490000,30.042500,35.774999,43.712501,99.800003
29,Zillow Group,2518.0,46.460415,29.911074,8.815092,29.957501,36.928652,47.970001,208.119995

In [26]:
# Summary of the volume stat of all the companies 
each_company = df.groupby('Company')    # Group the data by "Company" column
each_company['Volume'].describe().reset_index()                 # Describe each company's data

,Company,count,mean,std,min,25%,50%,75%,max
0,AMD,2518.0,5.131807e+07,3.835572e+07,0.0,21470325.0,43346200.0,7.042400e+07,3.250584e+08
1,AT & T,2518.0,4.160198e+07,2.235978e+07,9085818.0,27660743.0,36648982.0,4.864333e+07,3.270974e+08
2,Activision,2518.0,7.665162e+06,5.786009e+06,1369100.0,4894975.0,6435850.0,8.724475e+06,1.330824e+08
3,Alibaba,2030.0,1.868294e+07,1.191554e+07,3775300.0,11761600.0,15863100.0,2.152908e+07,1.598343e+08
4,Amazon,2518.0,8.025617e+07,4.230301e+07,17626000.0,53639175.0,68622000.0,9.298800e+07,4.771220e+08
5,Apple,2518.0,1.713540e+08,1.250498e+08,35195900.0,91886975.0,130136800.0,2.045116e+08,1.460852e+09
6,Bank of America,2518.0,7.619322e+07,4.080707e+07,13805400.0,48739825.0,65673100.0,9.224915e+07,3.750887e+08
7,Cisco,2518.0,2.549483e+07,1.372408e+07,5720500.0,17510275.0,22044200.0,2.930742e+07,2.432554e+08
8,CocoCola,2518.0,1.431151e+07,6.106128e+06,2996300.0,10391625.0,12966550.0,1.648718e+07,6.784570e+07
9,Disney,2518.0,9.422362e+06,6.254475e+06,2165700.0,6141400.0,7725300.0,1.038458e+07,8.741070e+07
10,EA,2518.0,3.508126e+06,2.435665e+06,606100.0,2143850.0,2916800.0,4.119825e+06,3.870450e+07
11,Exxon,2518.0,1.652319e+07,9.400055e+06,3851300.0,10199450.0,13576800.0,1.969770e+07,8.443940e+07
12,Ford,2518.0,4.828013e+07,2.985709e+07,7128800.0,28747600.0,39901350.0,5.818685e+07,3.116452e+08
13,Google,2518.0,3.960689e+07,2.685868e+07,158434.0,24325000.0,31175000.0,4.470352e+07,4.643901e+08
14,Intel,2518.0,2.984661e+07,1.509075e+07,5893800.0,20475700.0,26511100.0,3.469245e+07,1.822699e+08
15,JP Morgan,2518.0,1.565919e+07,6.806664e+06,3220500.0,11179300.0,13967050.0,1.830345e+07,6.088080e+07
16,Match,2518.0,2.789955e+06,2.626609e+06,346200.0,1422450.0,2212682.0,3.353075e+06,5.437480e+07
17,McDonalds,2518.0,4.278301e+06,2.322466e+06,963200.0,2777050.0,3685650.0,5.058825e+06,2.528660e+07
18,Meta,2518.0,2.975917e+07,2.363726e+07,5913100.0,15988975.0,22543900.0,3.459390e+07,3.654579e+08
19,Microsoft,2518.0,3.224945e+07,1.681100e+07,7425600.0,22406200.0,28319100.0,3.672560e+07,2.484285e+08
20,Netflix,2518.0,1.259488e+07,1.229663e+07,1144000.0,5443425.0,9141150.0,1.597872e+07,1.914458e+08
21,Nvidia,2518.0,4.463162e+07,2.585955e+07,4564400.0,27725300.0,38624000.0,5.433422e+07,3.692928e+08
22,Paypal,1887.0,9.701338e+06,6.602412e+06,1680000.0,5943650.0,7855800.0,1.153325e+07,1.362640e+08
23,Pfizer,2518.0,2.889859e+07,1.761809e+07,5187683.0,19674939.0,24998561.0,3.283856e+07,2.998294e+08
24,Salesforce,2518.0,5.848055e+06,3.951311e+06,1084700.0,3738625.0,4931150.0,6.612050e+06,6.325340e+07
25,Tesla,2518.0,1.120960e+08,8.078149e+07,6603000.0,62904225.0,89184150.0,1.311840e+08,9.140820e+08
26,Trade Desk,1580.0,1.063140e+07,9.836909e+06,631000.0,5096500.0,7981000.0,1.317445e+07,1.276240e+08
27,Walmart,2518.0,8.164516e+06,4.608494e+06,2094900.0,5744650.0,6983800.0,9.221750e+06,8.089810e+07
28,Yelp,2518.0,2.119436e+06,2.621049e+06,176000.0,852475.0,1458200.0,2.453950e+06,4.715500e+07
29,Zillow Group,2518.0,1.746387e+06,2.586307e+06,105800.0,474625.0,773550.0,1.912056e+06,3.843974e+07

In [27]:
# Check for missing data? This step is imprortant because if much data is null, we might have to skip those rows
missing_values = df.isnull().sum()

# Print the number of missing values in each column
print(missing_values)

Company      0
Industry     0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [40]:
df['Date'] = pd.to_datetime(df['Date'])

# Set the date column as the index
df.set_index('Date', inplace=True)

# Group the data by month
df_monthly = df['Date'].asfreq('M').resample('M').mean()


# Print the first few rows of the resulting DataFrame
df_monthly.head()

KeyError: 'Date'